/* html {
  scroll-behavior: smooth;
} */
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

#inspire-btn { 
  padding: 30px;
  text-align: center;
  font-size: 35px;
  margin-top: 180px;
  background-color: #515864 ;
  color: #F3E6D2;
  transition: 0.3s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(3);
  animation: pulse 2s infinite;
  font-family: 'Open Sans', sans-serif;

  
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 8px rgba(4, 243, 211, 1);
  }

  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#inspire-btn:hover {
  background-color:#F3E6D2 ;
  color: #515864 ;

}


nav {
  text-align: center;
  display: block;
  padding: 30px;
  
}

.btn-site {
  font-family: 'Open Sans', sans-serif;
  opacity: 0.7;  
  font-size: 30px;
  border-radius: 50%;
  margin: 150px 150px 80px 150px;
  padding: 80px;
  background-color: #DED0CA;
  cursor: pointer;
  box-shadow: 0 2px #999;
  border: none;
}

.btn-site:hover {
  background-color:#8F867F;
  opacity: 0.8;
  color: white;
}


#mlogo {
  width: 27%;
  height: auto;
  text-align: left;
  position: absolute;
  z-index: 2;
}


#hmlogo {
  position: absolute;
  z-index: 2;
}

#quo {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  z-index: 2;
  top: 14%;
  color:#17191d;
  font-weight: bold;
  text-align: center;
  margin-left: 500px;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  
}

.text-top {
  position: absolute;
  z-index: 2;
  
}

.relax-pg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#relax-btn {
  top: 40%;
  position: absolute;
  z-index: 2;
  font-size: 30px;
  padding: 100px;
  border-radius: 50%;
  animation: shadow-pulse 1s infinite;
  background-image: url('https://media.giphy.com/media/o7VvlSM00GT60/source.gif');
  color: ivory;
  font-family: 'Open Sans', sans-serif;
 
}


@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}



.active-pg {
  position: absolute;
  z-index: 2;
  top: 40%;
  border: 1px solid black; 
  text-align: center;
  
  
}

.text-desc{
  padding: 20px;
  border: 1px solid greenyellow;
}

.button-grp {
  border: 1px solid orangered;
  padding: 40px;
  display: flex;
  align-items: center;
  
}

#recreational, #social, #relaxation, 
#cooking, #education, #busywork, #charity, #music {
  margin: 50px;
  padding: 30px;
  font-size: 15px;
}


/* Background images */

#nature1 {
  position: relative;
  opacity: .9;
}

#bghome {
  position: relative;

}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}





/* https://codepen.io/davidicus/pen/emgQKJ
http://www.tipue.com/blog/css-pulse-buttons/ 
Photo by sohail na*/