/* html {
  scroll-behavior: smooth;
} */
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}


nav {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  padding: 20px;
  display: block;
  
}

.btn-site {
  opacity: 0.61;  
  font-size: 30px;
  border-radius: 50%;
  margin: 150px 150px 80px 150px;
  padding: 90px;
  background-color: #DED0CA;
  cursor: pointer;
  box-shadow: 0 4px #999;
  border: none;
}

.btn-site:hover {
  background-color:#8F867F;
  opacity: 0.8;
  color: white;
}



#mlogo {
  width: 27%;
  height: auto;
  text-align: left;
  position: absolute;
  z-index: 2;
}


#hmlogo {
  position: absolute;
  z-index: 2;
}

#quo {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  z-index: 2;
  top: 14%;
  color:#17191d;
  font-weight: bold;
  text-align: center;
  margin-left: 500px;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  
}

.text-top {
  position: absolute;
  z-index: 2;
  
}



 #inspire-btn { 
  padding: 30px;
  text-align: center;
  font-size: 35px;
  margin-top: 180px;
  background-color: #515864 ;
  color: #F3E6D2;
  transition: 0.3s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(3);
  animation: pulse 2s infinite;
  font-family: 'Open Sans', sans-serif;

  
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 8px rgba(4, 243, 211, 1);
  }

  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#inspire-btn:hover {
  background-color:#F3E6D2 ;
  color: #515864 ;

}

#nature1 {
  position: relative;
  opacity: .9;
}

#bghome {
  position: relative;

}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}